<header class="page-head">
  <h1>Reset Password</h1>
</header>

<div class="page form">

  <div ng-if='vm.message' class='alert success' role='alert'>
    <p>{{ vm.message }}</p>
  </div>
  <div ng-if='vm.error' class='alert error' role='alert'>
    <p>{{ vm.error }}</p>
  </div>

  <form ng-hide="vm.message" name="register" id="dealer-sign-up-normal" ng-submit="vm.resetPass()">
    <ul>
      <li>
        <label>Email</label>
        <input type="email" class="" id="dealer-email" ng-model="vm.email" placeholder="yourname@email.com" required />
      </li>
      <li>
        <label>Password</label>
        <input type="password"g class="" id="dealer-password" ng-model="vm.password" placeholder="Enter your password" required />
        <small class="error" ng-show="signin.password.$error.minlength">Your password should have minimum of 6 digits.</small>
        <small class="error" ng-show="signin.password.$error.maxlength">Your password can have maximum of 16 digits.</small>
        <input type="password" name = "password" class="form-control" id="dealer-password" ng-model="vm.password" placeholder="Enter your password" ng-minlength="6" ng-maxlength="16" required />

        <input type="password" class="na-input-text" id="dealer-password-repeat" ng-model="vm.passwordRepeat"  placeholder="Confirm password" required />
      </li>
      <li>
        <button class="" id="btnSignup" type="submit" value="Sign Up">Reset Password</button>
      </li>
      <li>
        <p>Already a member?
          <a ng-if="md.isModal" sign-in>Sign in</a></p>
          <a ng-if="!md.isModal" ng-href="/dealer/dealersignin" id="forgot">Sign in</a>
       </p>
      </li>
    </ul>
  </form>

  <!-- signin success -->
  <form ng-if="vm.isSignedIn()">
    <ul>
      <li><h2>You successfully signed in.</h2></li>
      <li><button class="btn btn-danger">Sign Out</button></li>
    </ul>
  </form>

</div>
