<header class="page-head">
  <h1>Add Vehicle Pricing</h1>
</header>
<section class="mdview">
  <section class="detail">
    <div class="page form">

      <form name="add_vehicle_pricing" ng-submit="vm.addVehiclePricing(vehicle.VIN)" >
        <section>
          <h3>Vehicle Pricing</h3>
          <ul class="cols-2">
            <li class="input">
              <label>Vehicle Cost</label>
              <input type="number" ng-model="vm.vehicleCost" ng-value="" placeholder="Vehicle Cost" />
            </li>

            <li class="input">
              <label>Purchase Date</label>
              <input type="date" ng-model="vm.purchaseDate" ng-value=""/>
            </li>
          </ul>
        </section>

        <section>
          <h3>Marketplace Pricing</h3>
          <ul class="cols-2">
            <li class="input">
              <label>Reserve Price</label>
              <input type="number" ng-model="vm.reservePrice" ng-value="" placeholder="Reserve Price" />
            </li>

            <li class="input">
              <label>Starting Bid</label>
              <input type="number" ng-model="vm.startingBid" ng-value="" placeholder="Starting Bid" />
            </li>
          </ul>
        </section>

        <section>
          <ul>
            <li class="full">
              <h1 class="error" ng-if="vm.error_message_submit">{{vm.error_message_submit}}</h1>
              <button class="na-input-submit blue" type="submit">Add Vehicle Pricing</button>
            </li>
          </ul>
        </section>


      </form>
    </div>
  </section>
</section>
