<form name="addVehicleByVin" >

<!-- exterior -->
<section>
  <h2>Exterior</h2>
  <ul class="cols-2">
    <li class="input">
      <label>Exterior Color</label>
      <input name="exterior_color" type="text" ng-model="vm.exteriorColor" ng-value="vm.exteriorColor" placeholder="Exterior Color" required/>
      <small class="error" ng-show="addVehicleByVin.exterior_color.$error.required">This field is required and cannot be left blank</small>

    </li>
    <li class="dropdown">
      <label>Search Color</label>
      <select name="search_color" class="na-select" ng-model="vm.searchColor" required>
        <option value="" selected>Select a Color</option>
        <option value="Black">Black</option>
        <option value="Blue">Blue</option>
        <option value="Brown">Brown</option>
        <option value="Copper">Copper</option>
        <option value="Gold">Gold</option>
        <option value="Grey">Grey</option>
        <option value="Maroon">Maroon</option>
        <option value="Orange">Orange</option>
        <option value="Purple">Purple</option>
        <option value="Red">Red</option>
        <option value="Silver">Silver</option>
        <option value="Tan">Tan</option>
        <option value="Teal">Teal</option>
        <option value="White">White</option>
        <option value="Yellow">Yellow</option>
      </select>
      <small class="error" ng-show="addVehicleByVin.search_color.$error.required">This field is required and cannot be left blank</small>

    </li>
  </ul>
  <h3>Exterior Options</h3>
  <ul class="cols-3">
    <li ng-repeat="exteriorOption in exteriorOptions">
      <input name="exterior_options" type="checkbox" checklist-model="vm.exteriorOptions" checklist-value="exteriorOption"/> <label for="">{{exteriorOption}}</label>
    </li>
  </ul>
</section>

<!-- interior -->
<section>
  <h2>Interior</h2>
  <ul class="cols-2">
    <li class="input">
      <label>Interior Color</label>
      <input name="interior_color" type="text" ng-model="vm.interiorColor" ng-value="vm.interiorColor" placeholder="Interior Color" required/>
      <small class="error" ng-show="addVehicleByVin.interior_color.$error.required">This field is required and cannot be left blank</small>

    </li>
    <li class="dropdown">
      <label>Seats</label>
      <select name="seats" class="na-select" ng-model="vm.seatCovering" required>
        <option value="" selected>Select Seats Covering</option>
        <option value="Leather">Leather</option>
        <option value="Cloth">Cloth</option>
        <option value="Vinyl">Vinyl</option>
      </select>
      <small class="error" ng-show="addVehicleByVin.seats.$error.required">This field is required and cannot be left blank</small>

    </li>
  </ul>
  <h3>Interior Options</h3>
  <ul class="cols-3">
    <li ng-repeat="interiorOption in interiorOptions">
      <input name="interior_options" type="checkbox" checklist-model="vm.interiorOptions" checklist-value="interiorOption" /> <label for="">{{interiorOption}}</label>
    </li>
  </ul>
</section>

<!-- engine -->
<section>
  <h2>Engine</h2>
  <ul class="cols-2">
    <li>
      <label>Cylinder</label>
      <input name="cylinder" type="text" ng-model="vm.cylinder" ng-value="vm.cylinder" placeholder="Cylinder" required/>
      <small class="error" ng-show="addVehicleByVin.cylinder.$error.required">This field is required and cannot be left blank</small>

    </li>
    <li>
      <label>Size</label>
      <input name="size" type="text" ng-model="vm.size" ng-value="vm.size" placeholder="Size" required/>
      <small class="error" ng-show="addVehicleByVin.size.$error.required">This field is required and cannot be left blank</small>

    </li>
    <li>
      <label>Configuration</label>
      <input name="configuration" type="text" ng-model="vm.configuration" ng-value="vm.configuration" placeholder="Configuration" required/>
      <small class="error" ng-show="addVehicleByVin.configuration.$configuration.required">This field is required and cannot be left blank</small>

    </li>
    <li class="dropdown">
      <label>Transmission</label>
      <select name="transmission" class="na-select" ng-model="vm.transmission" required>
        <option ng-if="vm.isSearched" ng-value="{{vm.transmission}}" selected> {{vm.transmission}} </option>
        <option ng-if="!vm.isSearched" selected>Select Transmission</option>
        <option value="Automatic">Automatic</option>
        <option value="Automatic 3-Speed">Automatic 3-Speed</option>
        <option value="Automatic 4-Speed">Automatic 4-Speed</option>
        <option value="Automatic 5-Speed">Automatic 5-Speed</option>
        <option value="Automatic 6-Speed">Automatic 6-Speed</option>
        <option value="Automatic 7-Speed">Automatic 7-Speed</option>
        <option value="Automatic 8-Speed">Automatic 8-Speed</option>
        <option value="Automatic 8-Speed">Automatic 9-Speed</option>
        <option value="Manual">Manual</option>
        <option value="Manual 4-Speed">Manual 4-Speed</option>
        <option value="Manual 5-Speed">Manual 5-Speed</option>
        <option value="Manual 6-Speed">Manual 6-Speed</option>
        <option value="Manual 7-Speed">Manual 7-Speed</option>
        <option value="Shiftable Automatic">Shiftable Automatic</option>
        <option value="Continuously Variable/CVT">Continuously Variable/CVT</option>
      </select>
      <small class="error" ng-show="addVehicleByVin.transmission.$error.required">This field is required and cannot be left blank</small>

    </li>
    <li class="dropdown">
      <label>Drivetrain</label>
      <select name="drivetrain" class="na-select" ng-model="vm.drivetrain" required>
        <option value="" selected>Select a Drivetrain</option>
        <option value="Front Wheel Drive">Front Wheel Drive</option>
        <option value="Rear Wheel Drive">Rear Wheel Drive</option>
        <option value="All Wheel Drive">All Wheel Drive</option>
        <option value="4 Wheel Drive">4 Wheel Drive</option>
      </select>
      <small class="error" ng-show="addVehicleByVin.drivetrain.$error.required">This field is required and cannot be left blank</small>

    </li>
    <li class="dropdown">
      <label>Fuel</label>
      <select name="fuel" class="na-select" ng-model="vm.fuelType" required>
        <option ng-if="vm.isSearched" ng-value="{{vm.fuelType}}" selected> {{vm.fuelType}} </option>
        <option ng-if="!vm.isSearched" selected>Select Fuel Type</option>
        <option value="Gasoline">Gasoline</option>
        <option value="Diesel">Diesel</option>
        <option value="Gasoline/E85">Gasoline/E85</option>
        <option value="Hybrid Electric">Hybrid Electric</option>
        <option value="CNG">CNG</option>
        <option value="Hydrogen">Hydrogen</option>
        <option value="LPG">LPG</option>
      </select>
      <small class="error" ng-show="addVehicleByVin.fuel.$error.required">This field is required and cannot be left blank</small>

    </li>
  </ul>
</section>

<!-- safety -->
<section>
  <h2>Safety</h2>
  <ul class="cols-2">
    <li class="input">
      <label>Brakes</label>
      <input name="brakes" type="text" ng-model="vm.brakes" placeholder="Brakes" required/>
      <small class="error" ng-show="addVehicleByVin.brakes.$error.required">This field is required and cannot be left blank</small>

    </li>
  </ul>
</section>

<!-- title -->
<section>
  <h2>Title</h2>
  <ul class="cols-2">
    <li class="input">
      <label>Title Status</label>
      <input name="title_status" type="text" ng-model="vm.titleStatus" placeholder="Title Status" required/>
      <small class="error" ng-show="addVehicleByVin.title_status.$error.required">This field is required and cannot be left blank</small>

    </li>
    <li class="input">
      <label>Title State</label>
      <input name="title_state" type="text" ng-model="vm.titleState" placeholder="Title State" required/>
      <small class="error" ng-show="addVehicleByVin.title_state.$error.required">This field is required and cannot be left blank</small>

    </li>
  </ul>
</section>

<!-- warranty -->
<section>
  <h2>Warranty</h2>
  <ul class="cols-2">
    <li class="dropdown">
      <label>Full Warranty</label>
      <select name="full_warranty" class="na-select" ng-model="vm.fullWarranty" required>
        <option value="">Select Warranty</option>
        <option value="No Warranty">No Warranty</option>
        <option value="Manufacturer Warranty Active">Manufacturer Warranty Active</option>
        <option value="Aftermarket Warranty Available">Aftermarket Warranty Available</option>
        <option value="36 Months/36,000 Miles">36 Months/36,000 Miles</option>
        <option value="48 Months/48,000 Miles">48 Months/48,000 Miles</option>
        <option value="48 Months/50,000 Miles">48 Months/50,000 Miles</option>
        <option value="48 Months/60,000 Miles">48 Months/60,000 Miles</option>
        <option value="48 Months/75,000 Miles">48 Months/75,000 Miles</option>
        <option value="48 Months/100,000 Miles">48 Months/100,000 Miles</option>
        <option value="60 Months/50,000 Miles">60 Months/50,000 Miles</option>
        <option value="60 Months/60,000 Miles">60 Months/60,000 Miles</option>
        <option value="60 Months/75,000 Miles">60 Months/75,000 Miles</option>
        <option value="60 Months/100,000 Miles">60 Months/100,000 Miles</option>
        <option value="72 Months/60,000 Miles">72 Months/60,000 Miles</option>
        <option value="72 Months/75,000 Miles">72 Months/75,000 Miles</option>
        <option value="72 Months/100,000 Miles">72 Months/100,000 Miles</option>
        <option value="AUL 36 Month/36,000 Miles Service Contract">AUL 36 Month/36,000 Miles Service Contract</option>
      </select>
      <small class="error" ng-show="addVehicleByVin.full_warranty.$error.required">This field is required and cannot be left blank</small>

    </li>
    <li class="dropdown">
      <label>Drivetrain Warranty</label>
      <select name="drivetrain_warranty" class="na-select" ng-model="vm.drivetrainWarranty" required>
        <option value="" selected>Select Drivetrain Warranty</option>
        <option value="3 Month/3,000 Miles">3 Month/3,000 Miles</option>
        <option value="12 Month/12,000 Miles">12 Month/12,000 Miles</option>
        <option value="18 Month/18,000 Miles">18 Month/18,000 Miles</option>
        <option value="24 Month/24,000 Miles">24 Month/24,000 Miles</option>
        <option value="60 Month/100,000 Miles">v.	60 Month/100,000 Miles</option>
      </select>
      <small class="error" ng-show="addVehicleByVin.drivetrain_warranty.$error.required">This field is required and cannot be left blank</small>

    </li>
    <li class="input">
      <label>Additional Warranty</label>
      <input name="additional_warranty" type="text" ng-model="vm.additionalWarranty" placeholder="Additional Warranty" required/>
      <small class="error" ng-show="addVehicleByVin.additional_warranty.$error.required">This field is required and cannot be left blank</small>

    </li>
    <li class="dropdown">
      <label>Certified Pre-Owned</label>
      <select name="certified_preowned" class="na-select" ng-model="vm.certifiedPreOwned" id="select_year_min" required>
        <option value="" selected>Certified Pre-Owned</option>
        <option value="1">Yes</option>
        <option value="2">No</option>
      </select>
      <small class="error" ng-show="addVehicleByVin.certified_preowned.$error.required">This field is required and cannot be left blank</small>

    </li>
    <li class="input">
      <label>Guaranteed Financing</label>
      <input name="financing" type="text" ng-model="vm.guaranteedFinancing" placeholder="Guaranteed Financing" required/>
      <small class="error" ng-show="addVehicleByVin.financing.$error.required">This field is required and cannot be left blank</small>

    </li>
  </ul>
</section>

<!-- premium options -->
<section>
  <h2>Premium Options</h2>
  <ul class="cols-3">
    <li ng-repeat="premiumOption in premiumOptions" >
      <input name="premium_options" type="checkbox" checklist-model="vm.premiumOptions" checklist-value="premiumOption"/> <label for="">{{premiumOption}}</label>
    </li>
  </ul>
</section>

<!-- truck options -->
<section>
  <h2>Truck Options</h2>
  <ul class="cols-3">
    <li ng-repeat="truckOption in truckOptions" >
      <input name="truck_options" type="checkbox" checklist-model="vm.truckOptions" checklist-value="truckOption" /> <label for="">{{truckOption}}</label>
    </li>
  </ul>
</section>

<!-- custom options -->
<section>
  <h2>Custom Options</h2>
  <ul>
    <li>
      <textarea name="custom_options" type="textbox" ng-model="vm.customOptions" ng-value="vm.customOptions" required/></textarea>
      <small class="error" ng-show="addVehicleByVin.custom_options.$error.required">This field is required and cannot be left blank</small>

    </li>
  </ul>
</section>

<section>
  <ul class="cols-2">
    <li class="full">
      <h1 class="error" ng-if="vm.error_message_submit">{{vm.error_message_submit}}</h1>
      <button ng-click="vm.save(vehicleData)" >Add Vehicle & Save</button>
    </li>
    <li class="full">
      <h1 class="error" ng-if="vm.error_message_submit">{{vm.error_message_submit}}</h1>
      <button ng-click="vm.saveAndContinue(vehicleData)" >Add Vehicle & Continue..</button>
    </li>
  </ul>

</section>
</form>
